name: Android Build

on:
  push:
    branches: [ "feature/native-android", "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew assembleRelease

    - name: Get Release Version
      id: get_version
      run: |
        VERSION_NAME=$(grep "versionName" app/build.gradle.kts | awk -F'=' '{print $2}' | tr -d ' "')
        echo "VERSION_NAME=$VERSION_NAME" >> $GITHUB_OUTPUT

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: MagicWord-v${{ steps.get_version.outputs.VERSION_NAME }}
        path: app/build/outputs/apk/release/app-release.apk

    - name: Create Release
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v1
      with:
        tag_name: v${{ steps.get_version.outputs.VERSION_NAME }}
        name: Release v${{ steps.get_version.outputs.VERSION_NAME }}
        files: app/build/outputs/apk/release/app-release.apk
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
